.footer-section{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 47px;
}
.logo-sec{
    padding-left: 64px;
}
.foot-des{
    width: 511px;
height: 78px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 26px;
/* or 186% */


color: #6B6B6B;

}
.ft-list{
    grid-template-columns: repeat(4, 1fr);
    padding-top: 54px;
}
.footTxt{
    list-style: none;
    padding-bottom: 10px;
}
.footSubHeading{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
/* line-height: 22px; */
color: #6B6B6B;

}
.footHeading{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #00A2F7;
padding-bottom: 15px;
padding-left: 30px;
/* line-height: 24px; */
}
.footer-content{
    width: 200px;
}
.ft-sc{
    grid-template-columns: repeat(2, 1fr);
}
.sc-txt{
    width: 208px;
height: 30px;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #000000;

}
.term{
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 64px;
   
}
.term-con{

    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #6B6B6B;
}
.com-logo{
    padding-right: 505px;
    padding-bottom: 28px;
}